@import "variables";
/* UTILIDADES */
.btn-1 {
    background: #11555f;
    border-radius: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 11px 20px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.5s ease;
    transition: color 0.5s ease;
    border: none;
    &:hover{
      cursor: pointer;
      background-color: #ffffff;
      color: #11555f;
    }
  }
/* BARRA DE BUSQUEDAS */
.clicked-active {
  border-bottom: 3px solid #34c759;
}

/* Others */
.pointer{
  cursor: pointer;
}